.main-page-container {
  padding: 0 20px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  border: 1px solid black;
  background-color: rgb(237, 241, 245);
  border-radius: 0.5em;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.product-card:hover {
  background-color: rgb(220, 230, 240);
}
.product-info {
  display: flex;
  justify-content: space-between;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px;
  z-index: 1;
}
